* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../IMG/background.png') no-repeat center center/cover;
    height: 100vh;
    overflow: hidden;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    color: white;
}

.logo { 
  font-weight: bold; 
  font-size: 1.5rem; 
  letter-spacing: 2px; 
}

.menu-toggle {
    background: none;
    border:none;
    color: white;
    padding: 8px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.6s ;
    z-index: 999;
}

.menu-overlay.active {
    transform: translateY(0);
}

.menu-content ul { 
  list-style: none; text-align: left;
}

.menu-content ul li { 
  margin: 25px 0; 
  opacity: 0; 
  transform: translateY(20px); 
  transition: 0.4s; }

.menu-overlay.active .menu-content ul li {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}

.menu-content ul li a {
    color: white;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 50px;
    background: rgba(0,0,0,0.3);
}

.hero-text h1 {
    color: white;
    font-size: clamp(2rem, 8vw, 5rem);
    line-height: 1.1;
}
.slider-arrows {
    position: relative;
    bottom: 40px;
    right: 60px;
    display: flex;
    gap: 20px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

/* mediaquary */
@media (max-width: 768px) {
header { 
  padding: 20px; 
}
.menu-content ul li a { 
  font-size: 2rem; 
}
}